#banner {
		background-image: url('../images/header-top-bg.jpg');
		/* padding:35px 0; */
		height:100px;
		width:auto;
}



div.watermark{

		    background: url(../images/watermark.png)222px -67px no-repeat;
			height: 100px;
			/*width: ;*/
			/* border: 1px solid black; */
			position:relative;
}
div.wordmark{
		background: url(../images/wordmark.png) no-repeat 5px 5px;
		height: 90px;
		width: 350px;
		/* border:1px solid blue; */
		float:left;
		margin:5px;
		
	}